<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <div>
    <label for="email" class="form-label">Email</label>
    <input
      id="email"
      type="email"
      class="form-control"
      formControlName="email"
    />
  </div>
  <span
    *ngIf="
      !registerForm.controls['email'].valid &&
      registerForm.controls['email'].touched
    "
    class="text-muted"
    >Invalid Email</span
  >
  <div>
    <label for="password" class="form-label">Password</label>
    <input
      id="password"
      type="password"
      class="form-control"
      formControlName="password"
    />
  </div>
  <span
    *ngIf="
      !registerForm.get('password')!.valid &&
      registerForm.get('password')!.touched
    "
    class="text-muted"
    >Password is required</span
  >
  <div class="radio" *ngFor="let gender of genders">
    <label>
      <input
        class="me-2"
        type="radio"
        name="genderradio"
        [value]="gender"
        formControlName="genderradio"
      />{{ gender }}
    </label>
  </div>
  <div class="mt-2">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Sign Up
    </button>
  </div>
</form>
